$background: #282c34;
$blue: #61dafb;
$white: #fff;
$bluenifty: #1d8295;
$green: rgb(21, 245, 96);
$black: rgba(0, 0, 0, 0.16);
$shadow: #e2e8f0;
$transparent: transparent;
$grey: #707070;
$gradient: rgba(253, 251, 251, 0);
